/*Estilos de scss*/
/*IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Media*/
@media only screen and (max-width: 200px) {
  body {
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}
body {
  background-image: url(../imagenes/bosque.jpg);
}

/*ANIMACIONES MAIN*/
.bienvenida {
  margin-top: 5%;
}

.is_frase {
  padding-top: 5%;
  overflow: hidden;
  font-size: 5rem;
  text-align: center;
}

.frase {
  display: inline-block;
  animation: smoky 3s 5s both;
}

.frase:nth-child(even) {
  animation-name: smoky;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px rgba(245, 245, 245, 0);
  }
  to {
    transform: translate3d(1rem, -1rem, 0) skewX(30deg) scale(1);
    text-shadow: 0 0 20px rgba(245, 245, 245, 0);
    opacity: 0;
  }
}
/*MAIN DIRECTOR*/
.margin-5 {
  margin: 5%;
}

.padding-2 {
  padding: 2%;
}

.justify-align {
  text-align: justify;
}

/*MAIN PELICULAS*/
.margin-carusel {
  margin: 2% 5% 2% 5%;
}

.pelis {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  align-items: flex-start;
}

.estilo-card-titulo {
  padding: 1%;
}

.estilo-card-pelis {
  padding: 2%;
}

/*MULTIMEDIA*/
.margin-cards-mult {
  margin: 2% 10% 1% 10%;
}

.music {
  margin: 5% 10% 1% 11%;
  width: 90%;
}

.col {
  margin-left: 9%;
}

/*CONTACTO*/
.estilo_contacto {
  margin: 5%;
}

.col-md-8 {
  padding: 5% 3% 1% 3%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #363638;
}

/*EG HEADER*/
.titulo {
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgba(53, 52, 52, 0.836);
}

/*ANIMACIONES MAIN*/
.is_frase {
  color: whitesmoke;
}

/*MAIN PELICULAS*/
.estilo-card-subtitulo {
  color: rgb(201, 174, 115);
}

.estilo_footer {
  color: azure;
}

.container-fluid {
  color: #363638;
}

/*CONTACTO*/
.needs-validation {
  color: whitesmoke;
}

.estilo_contacto {
  background-color: rgba(204, 200, 200, 0.137);
}

/*Estilos de fuentes*/
header .navbar-brand {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 30px;
}

.titulo {
  font-family: "Cinzel", serif;
  font-size: 2rem;
}

/************* MAIN **************/
/*INICIO*/
.is_frase {
  font-family: "Inspiration";
}

/*PELICULAS*/
.estilo-card-titulo {
  font-family: "Cinzel", serif;
}

.estilo-card-pelis {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*MULTIMEDIA*/
.estilo-card-subtitulo {
  font-family: "Cinzel", serif;
}

/*CONTACTO*/
.contactate {
  padding: 1%;
  font-family: "Cinzel", serif;
}

.estilo_contacto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

.estilo_footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.needs-validation {
  padding: 1%;
  font-family: "Cinzel", serif;
}

/*FUENTES*/
/*ANIDACION*/
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-flex;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Cinzel", serif;
  color: whitesmoke;
}

main {
  margin: 20px;
}
main .is_justify_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .is_justify_center .is_align_end {
  display: flex;
  align-items: flex-end;
}
main .is_justify_center .titulo {
  margin-top: 10%;
  margin-bottom: 1%;
  padding: 1%;
}
main .is_justify_center .contactate {
  padding: 1%;
}

footer {
  margin: 8% 1% 1% 1%;
  padding: 1%;
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-flex;
  padding: 15px;
}
footer ul li a {
  font-size: 15px;
  font-family: "Cinzel", serif;
  color: darkgray;
}

/******* EXTEND TITULOS MAIN **************/
.titulo-dir, .titulo-cont, .titulo-mult, .titulo-pel {
  font-family: "Cinzel", serif;
  background-color: rgba(0, 0, 0, 0.555);
  font-size: 35px;
  color: rgb(170, 18, 18);
  text-align: center;
  border-radius: 1px;
  border: 1px solid rgb(48, 47, 47);
  margin: 90px;
  padding: 5px;
}

.titulo-pel {
  background-color: rgba(100, 93, 93, 0.5);
  color: rgb(85, 7, 52);
}

.titulo-mult {
  background-color: rgba(105, 101, 101, 0.5);
  color: rgb(156, 98, 21);
}

.titulo-cont {
  background-color: rgba(105, 101, 101, 0.329);
  color: rgb(31, 13, 126);
}

/*# sourceMappingURL=estilos.css.map */
