/*Estilos de scss*/
/*IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Media*/
@media only screen and (max-width: 200px) {
  body {
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}
/*ANIMACIONES MAIN*/
.is_frase {
  overflow: hidden;
  font-family: "Inspiration";
  font-size: 5rem;
  text-align: center;
}

.frase {
  display: inline-block;
  animation: smoky 3s 5s both;
}

.frase:nth-child(even) {
  animation-name: smoky;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px rgba(245, 245, 245, 0);
  }
  to {
    transform: translate3d(1rem, -1rem, 0) skewX(30deg) scale(1);
    text-shadow: 0 0 20px rgba(245, 245, 245, 0);
    opacity: 0;
  }
}
/*MAIN DIRECTOR*/
.margin-5 {
  margin: 5%;
}

.padding-2 {
  padding: 2%;
}

.justify-align {
  text-align: justify;
}

/*MAIN PELICULAS*/
.margin-carusel {
  margin: 2% 5% 2% 5%;
}

.col {
  margin-left: 9%;
}

.estilo-card-titulo {
  padding: 1%;
}

.estilo-card-pelis {
  padding: 2%;
}

/*MULTIMEDIA*/
.margin-cards-mult {
  margin: 2% 8% 2% 8%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #363638;
}

/*EG HEADER*/
.titulo {
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgba(53, 52, 52, 0.836);
}

/*ANIMACIONES MAIN*/
.is_frase {
  color: whitesmoke;
}

/*MAIN PELICULAS*/
.estilo-card-subtitulo {
  color: rgb(201, 174, 115);
}

.estilo_footer {
  color: azure;
}

/*Estilos de fuentes*/
header .logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.titulo {
  font-family: "Cinzel", serif;
  font-size: 2rem;
}

/************* MAIN **************/
.estilo-card-titulo {
  font-family: "Cinzel", serif;
}

.estilo-card-pelis {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*MULTIMEDIA*/
.estilo-card-subtitulo {
  font-family: "Cinzel", serif;
}

/*CONTACTO*/
.contactate {
  padding: 1%;
  font-family: "Cinzel", serif;
}

.estilo_contacto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

.estilo_footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*FUENTES*/
/*ANIDACION*/
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-flex;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Cinzel", serif;
  color: whitesmoke;
}

main {
  margin: 20px;
}
main .is_justify_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .is_justify_center .is_align_end {
  display: flex;
  align-items: flex-end;
}
main .is_justify_center .titulo {
  margin-top: 10%;
  margin-bottom: 1%;
  padding: 1%;
}
main .is_justify_center .contactate {
  padding: 1%;
}

footer {
  margin: 8% 1% 1% 1%;
  padding: 1%;
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-flex;
  padding: 15px;
}
footer ul li a {
  font-size: 15px;
  font-family: "Cinzel", serif;
  color: darkgray;
}

/******* EXTEND TITULOS MAIN **************/
.titulo-dir, .titulo-cont, .titulo-mult, .titulo-pel {
  font-family: "Cinzel", serif;
  background-color: black;
  font-size: 35px;
  color: rgb(170, 18, 18);
  text-align: center;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  margin: 90px;
  padding: 5px;
}

.titulo-pel {
  background-color: rgb(112, 40, 112);
  color: black;
}

.titulo-mult {
  background-color: rgb(131, 112, 61);
  color: black;
}

.titulo-cont {
  background-color: rgb(76, 175, 159);
  color: rgb(14, 13, 13);
}

/******MIXING****/
/*mixing en peliculas*/
.col {
  width: 700px;
  height: 900px;
}

/****** EACH - LISTAS ******/
/*bloque a repetir*/
body {
  background-image: url(../imagenes/body.jpg);
}

/*bloque a repetir*/
main {
  background-image: url(../imagenes/main.jpg);
}

/*bloque a repetir*/
footer {
  background-image: url(../imagenes/footer.jpg);
}

/****** MAPS *******/
.color-director {
  background-color: rgb(85, 25, 25);
}

.color-peliculas {
  background-color: rgb(43, 43, 87);
}

.color-multimedia {
  background-color: rgb(54, 42, 19);
}

.color-contacto {
  background-color: rgb(35, 61, 63);
}

/*# sourceMappingURL=estilos.css.map */
