
body {
  background-image: url(../imagenes/bosque.jpg);
}

/*ANIMACIONES MAIN*/
.bienvenida {
  margin-top: 5%;
}
.is_frase {
    padding-top: 5%;
    overflow: hidden;
    font-size: 5rem;
    text-align: center;
  }
  
  .frase {
    display: inline-block;
    animation: smoky both;
    animation-duration: 2s;
    animation-delay: 3s;
  }
  
  .frase:nth-child(even){
    animation-name: smoky;
  }
  
  @keyframes smoky {
    60% {
      text-shadow: 0 0 40px rgba(245, 245, 245, 0);
    }
    to {
      transform:
        translate3d(1rem,-1rem,0)
        skewX(30deg)
        scale(1);
      text-shadow: 0 0 20px rgba(245, 245, 245, 0);
      opacity: 0;
    }
  }

/*MAIN DIRECTOR*/

.margin-5{
    margin: 5%;
}

.padding-2 {
    padding: 2%;
}

.justify-align {
    text-align: justify;
}


/*MAIN PELICULAS*/

.margin-carusel {
    margin: 2% 5% 2% 5%;
}

.pelis {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  align-items: flex-start;
}

.estilo-card-titulo{
    padding: 1%;
}
.estilo-card-pelis{
    padding: 2%;
}

.imdb {
  text-align: left;
  margin-left: 15px;
}


/*MULTIMEDIA*/

.sub_mult {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.margin-cards-mult {
    margin: 2% 10% 1% 10%;
}

.music {
  margin: 5% 10% 1% 11%;
  width: 90%;
}

.col {
  margin-left: 9%;
}


/*CONTACTO*/

.estilo_contacto {
  margin: 5%;
}

.col-md-8 {
  padding: 5% 3% 1% 3%;
}