
/*ANIMACIONES MAIN*/
.is_frase {
    overflow: hidden;
    font-family:'Inspiration';
    font-size: 5rem;
    text-align: center;
  }
  
  .frase {
    display: inline-block;
    animation: smoky 3s 5s both;
  }
  
  .frase:nth-child(even){
    animation-name: smoky;
  }
  
  @keyframes smoky {
    60% {
      text-shadow: 0 0 40px rgba(245, 245, 245, 0);
    }
    to {
      transform:
        translate3d(1rem,-1rem,0)
        skewX(30deg)
        scale(1);
      text-shadow: 0 0 20px rgba(245, 245, 245, 0);
      opacity: 0;
    }
  }

/*MAIN DIRECTOR*/

.margin-5{
    margin: 5%;
}

.padding-2 {
    padding: 2%;
}

.justify-align {
    text-align: justify;
}


/*MAIN PELICULAS*/

.margin-carusel {
    margin: 2% 5% 2% 5%;
}

.col {
    margin-left: 9%;
}
.estilo-card-titulo{
    padding: 1%;
}
.estilo-card-pelis{
    padding: 2%;
}

/*MULTIMEDIA*/

.margin-cards-mult {
    margin: 2% 8% 2% 8%;
}
