/* Inicio estilos media TEXTOS*/

@media screen and (min-width: 650px) and (max-width: 1068px) {
    header h1{
        font-size: 20spx;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1068px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1.1rem;
    }
}


/* Fin estilos media TEXTOS*/