/*Estilos de scss*/

/*IMPORT*/ 

@import "inicio";
@import "director";
@import "peliculas";
@import "multimedia";
@import "contacto";
@import "footer";
@import "textos";

/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');               



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ANIDACION*/
nav {
    .navbar-brand{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 30px;}
    ul {
        list-style: none;
            li {
                display: inline-flex;
                padding: 20px;
                    a {
                        text-decoration: none;
                        font-size: 15px;
                        font-family: 'Cinzel', serif;
                        color: whitesmoke;
                    }
            }
    }
}

main {
    margin: 20px;
        .is_justify_center {
            display: flex;
            justify-content: center;
            align-items: center;
                .is_align_end {
                    display: flex;
                    align-items: flex-end;
                }
                .titulo {
                    margin-top: 10%;
                    margin-bottom: 1%;
                    padding: 1%;
                }
                .contactate {
                    padding: 1%;
                }
    }
}

/******* EXTEND TITULOS MAIN **************/
.titulo-dir {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 5%;
     
}

.titulo-pel {
    @extend .titulo-dir;
    color:rgb(156, 98, 21);
    margin: 2% 10% 2% 10%;
}

.titulo-mult {
    @extend .titulo-dir;
    color:rgb(156, 98, 21);
    margin: 2% 10% 2% 10%;

}

.titulo-cont {
    @extend .titulo-dir;
    background-color:rgba(121, 118, 118, 0.274);
    color:rgb(156, 98, 21);
}


/*MEDIA FONDO*/
@media only screen and (max-width: 200px) {
    body {
      background-image: url(images/background-photo-mobile-devices.jpg);} 
  }



