/*Estilos de scss*/

/*IMPORT*/ 

@import "variables";
@import "reseteo";
@import "responsive";
@import "estructura";
@import "colores";
@import "tipografia";

/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');               


/*ANIDACION*/
nav {
    ul {
        list-style: none;
            li {
                display: inline-flex;
                padding: 20px;
                    a {
                        text-decoration: none;
                        font-size: 15px;
                        font-family: 'Cinzel', serif;
                        color: $gris-claro;
                    }
            }
    }
}

main {
    margin: 20px;
        .is_justify_center {
            display: flex;
            justify-content: center;
            align-items: center;
                .is_align_end {
                    display: flex;
                    align-items: flex-end;
                }
                .titulo {
                    margin-top: 10%;
                    margin-bottom: 1%;
                    padding: 1%;
                }
                .contactate {
                    padding: 1%;
                }
    }
}


footer {
    margin: 8% 1% 1% 1%;
    padding: 1%;
        ul {
            list-style: none;
                li {
                    display: inline-flex;
                    padding: 15px;
                        a { 
                            font-size: 15px;
                            font-family: 'Cinzel', serif;
                            color: darkgray;
                        }
                }

        }
}


/******* EXTEND TITULOS MAIN **************/
.titulo-dir {
    font-family: 'Cinzel', serif;
    background-color:rgba(0, 0, 0, 0.555);
    font-size: 30px;
    color: $rojo-oscuro;
    text-align: center;
    border-radius:1px;
    border:1px solid rgb(48, 47, 47);
    margin: 80px; 
    padding: 5px;
}

.titulo-pel {
    @extend .titulo-dir;
    background-color:rgba(100, 93, 93, 0.5);
    color:rgb(85, 7, 52)
}

.titulo-mult {
    @extend .titulo-dir;
    background-color:rgba(105, 101, 101, 0.5);
    color:rgb(156, 98, 21)
}

.titulo-cont {
    @extend .titulo-dir;
    background-color:rgba(105, 101, 101, 0.329);
    color:rgb(31, 13, 126)
}






